.ic-notification-page{
    h3.ic-heading{
        margin-bottom: 10px;
        font-size: 20px;
    }
    h3{
        color: $secondary;
    }
    img{
        margin-bottom: 15px;
        @include border-radius(10px);
    }
    p.ic-panel-heading-p{
        margin-bottom: 35px;
    }
    h6{
        color:$secondary;
        font-weight: 600;
        margin-bottom: 35px;
    }
    .ic-notification-panel{
        @include border-radius(10px);
        padding:15px;
        background-color: $box-color;
        h3{
            font-weight: bold;
        }
        .ic-notification{
            @include border-radius(10px);
            background-color: $white;
            padding:15px;
            @include box-shadow(1px 1.732px 7.68px 0.32px rgba(23, 24, 27, 0.05));
            margin-bottom: 20px;
            p,
            .ic-text{
                font-size: 14px;
            }
            p{
                margin-bottom: 12px;
            }
            .ic-text{
                color:$secondary;
            }
        }
    }
}
.ic-bottom-btn{
    text-align: center;
    .ic-btn-primary{
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:767px){
    .col-3-inner{
        text-align: center;
    }
}